h1 {
  color: teal;
  text-align: center;
}
.special {
  color: teal;
  font-weight: 900;
}
.results p {
  display: none;
  font-size: 200%;
}

.btn {
  font-weight: 900;
  background-color: teal;
  border-color: #ccc;
}